# Dependencies
node_modules

# Build outputs
dist
out

# OS
.DS_Store
Thumbs.db

# Logs
*.log*
logs

# Environment
.env
.env.*

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Electron
*.db
*.presupuesto

# Cache
.eslintcache
*.tsbuildinfo

# SQLite test artifacts
:memory:
:memory:-shm
:memory:-wal